*{
    box-sizing: border-box;
}
table{
    margin: 16px;
    text-align: center;
    border-collapse: collapse; 
    border: 1px solid black;
}
td{
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 0;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
} 
tr:nth-child(odd) td:nth-child(even) {
    background-color:black;
}
tr:first-child td:nth-child(n), 
tr:last-child td:nth-child(n),
tr:nth-child(n) td:first-child, 
tr:nth-child(n) td:last-child {
  background-color: white;

}